# Build products
build/
.build/
dist/
*.o
*.dSYM/

# Generated assets (recreated by Scripts/build_app.sh)
Resources/AppIcon.icns

# macOS
.DS_Store

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
